<!DOCTYPE html>
<html>
<head>
    <title>{{ domain }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap">
    <style>
        body {
            background-color: #d8d8d8;
            text-align: center;
            font-family: 'IBM Plex Sans', sans-serif;
        }

        nav {
            font-size: 36px;
            font-weight: bold;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 40px;
            text-align: center;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 20px
        }

        h5, h6 {
            font-size: 18px
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        main {
            width: 50%;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            text-align: left;
        }

        footer {
            display: flex;
            flex-direction: row;
            width: auto;
            padding-top: 2px;
            margin: 15px;
            border-top: 1px solid lightgrey;
            font-size: 14px;
        }

        @media (max-width: 767px) {
            main {
                width: 90%;
                margin: 30px auto;
            }
        }
    </style>
</head>
<body>
    <nav>
        <b>
            <a style="color: inherit; text-decoration: inherit;" href="https://{{ domain }}">{{ domain }}</a>
        </b>
    </nav>
    <main>
        {{ readme }}
        <ul class="article">
        {% for page in pages %}
            <li><a href="{{ page[1] }}">{{ page[0] }}</a></li>
        {% endfor %}
        </ul>
    </main>
    <footer>
        <span style="margin-right: auto;">generated with <3 by wikie v{{ version }}</span>
        <span>Last updated: {{ last_updated }}</span>
    </footer>
</body>
</html>
